<h1>Inbox</h1>
<br>
<% if @conversations.count == 0 %>
  <p>You have no messages. Click on a user below to start a conversation.</p>
<% end %>

  <% @conversations.each do |conversation| %>
 
      <p><%= link_to conversation.recipient(current_user).email, conversation_messages_path(conversation) %>
      <% if !conversation.unread_message_count(current_user).zero? %>
        <p>(<%= conversation.unread_message_count(current_user) %>)</p>
      <% end %>

  <% end %>

<br>
<br>

<h4>Start a new conversation with a user below:</h4>

  <% @users.each do |user| %>
    </p><%= link_to user.email, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %></p>
  <% end %>
