nav {
  height: 31px;
  // background: rgb(30, 46, 227);
  // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    background: white;
    margin-left: 40px;
  }
  .right {
    margin-right: 15px;
    background: white;
    span {
      padding-right: 4px;
    }
  }
}

