// Place all the styles related to the Racquets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-image {
  border: 1px solid black;
  width: 200px;
}

.index-image {
  border: 1px solid black;
  width: 100px;
}