<nav>
  <div class="left">
    <%= link_to("Login", new_user_session_path)%>
  </div>

  <div class="right">
    <span>Sell</span>
    <span>Favourites</span>
    <span>My Account</span>
  </div>
</nav>