<script src="https://kit.fontawesome.com/857aed0774.js" crossorigin="anonymous"></script>

<div class="search-bar">

  <div class="logo">
    <span><%= link_to("RacquetApp", root_path, class: "logo-actual2", id: "no-styling") %></span>
  </div>

  <div class="search-stuff">
      <% @q = Racquet.ransack(params[:q]) %>
      <%= search_form_for @q, url: search_racquets_path, html: { method: :post } do |f| %>

        <div class=search-input>
          <%= f.search_field :description_or_length_or_balance_or_stiffness_or_string_pattern_or_head_size_or_brand_or_title_cont, class: "search-input2", placeholder: "Search by title, description, brand or specifications"%>
          <i class="fas fa-search"></i>
        </div>

        <div class="button">
          <%= f.submit %>
        </div>

      <% end %>
  </div>

</div>