<div class="search-bar">

  <div class="logo">
    <span><%= link_to("RacquetApp", root_path) %></span>
  </div>

    <div class="search-area">
    </div>

    <div class="button">
    Search
    </div>


</div>